<div class="header-container">
	<button class="manu-button" mat-menu-item [matMenuTriggerFor]="menu">
  <mat-icon style="margin: 0">menu</mat-icon>
</button>
<span class="app-header">Admin Product's Store</span>
<mat-menu #menu="matMenu">
  <button (click)="routeTo('/product')" mat-menu-item>
    <mat-icon>store</mat-icon>
    <span>Products</span>
  </button>
  <button (click)="routeTo('/report')" mat-menu-item>
    <mat-icon>assessment</mat-icon>
    <span>Reports</span>
  </button>
</mat-menu>

	<button class="user-button" mat-menu-item [matMenuTriggerFor]="user">
  <mat-icon>person</mat-icon>
  <span class="username">Rajesh</span>
</button>
<mat-menu #user="matMenu">
  <button (click)="logout()" mat-menu-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

</div>