.modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(38, 43, 51, 0.83);
}

.modal {
    background-color: #fff;
    position: absolute;
    height: 500px;
    width: 360px;
    top: calc(50% - 250px);
    left: calc(50% - 180px);    
    border-radius: 12px;
}

.modal .header {
    background-color: rgb(63, 81, 181);
    color: #fff;
    height: 40px;
    border-radius: 10px 10px 0 0;
    line-height: 36px;
    text-align: center;
    font-size: 25px;
}

.modal .body {
    height: 358px;
    border-bottom: 3px double #ccd4ff;
    padding: 20px 40px;
}

.modal .footer {
    float: right;
}

.modal .footer button {
    margin: 10px;
}
mat-form-field{
  width: 100%;
}

textarea{
  height: 50px;
  max-height: 120px !important;
}