<div class="modal-container">
	<div class="modal">
		<div class="header">
			Product
		</div>
		<div class="body">
			<form #productForm="ngForm">
				<mat-form-field class="example-full-width">
					<input required name="ProductName" [(ngModel)]="product.ProductName" matInput placeholder="Product Name">
        </mat-form-field>
        	<mat-form-field class="example-full-width">
					<input required name="Price" [(ngModel)]="product.Price" type="number" matInput placeholder="Price">
        </mat-form-field>
        	<mat-form-field class="example-full-width">
					<input required name="Catagory" [(ngModel)]="product.CatagoryId" matInput placeholder="Catagory">
          <mat-label>Catagory</mat-label>
  <mat-select name="Catagory" [(ngModel)]="product.CatagoryId">
    <mat-option *ngFor="let cata of catagory" [value]="cata.CatagoryId">
      {{cata.CatagoryName}}
    </mat-option>
  </mat-select>
        </mat-form-field>
        	<mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
  <textarea matInput
  name="Description" [(ngModel)]="product.Description"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
			</form>
		</div>
		<div class="footer">
      <button mat-raised-button (click)="close()">Cancel</button>
       <button class="add-button" [disabled]="!productForm.valid" mat-raised-button color="primary">Save</button>
		</div>
	</div>
</div>