.grid-header {
    background-color: rgb(63, 81, 181);
    width: calc(100% - 18px);
    color: #fff;
}
mat-grid-tile {
  border:1px solid gray;
}
.grid-data{
  height: calc(100% - 105px) !important;
  overflow: auto;
}
.header.filters{
  height: 50px;
  display: flex;
}
.title {
    font-size: 32px;
    line-height: 42px;
    margin-left: 65px;
    font-weight: bold;
    width: calc(100% - 690px);
}
.order-by{
      margin-left: 70px;
}
.data-row:hover {
    background-color: #e4e4e8;
}
.data-row {
    height: 51px;
}
.add-button{
  height: 40px;
  margin: 5px 30px 0 0;
}
::ng-deep mat-grid-tile.right .mat-figure{
  right: 0;
  left: auto;
}